
SLIDE7(15-09)/ProjetoVS/.vs/ProjetoVS/v17/Browse.VC.opendb
SLIDE7(15-09)/ProjetoVS/.vs/ProjetoVS/v17/Browse.VC.db-wal
SLIDE7(15-09)/ProjectVS/.vs/ProjectVS/v17/.suo
*.db
SLIDE7(15-09)/ProjectVS/.vs/ProjectVS/v17/Browse.VC.db-shm
SLIDE7(15-09)/ProjectVS/.vs/ProjectVS/v17/Browse.VC.db-wal
SLIDE7(15-09)/ProjectVS/.vs/ProjectVS/v17/Browse.VC.opendb
SLIDE7(15-09)/ProjectVS/.vs/ProjectVS/v17/ipch/AutoPCH/ab5dd92d36d0ba59/PROJECTVS.ipch
SLIDE7(15-09)/ProjectVS/ProjectVS.sln
SLIDE7(15-09)/ProjectVS/ProjectVS.vcxproj
SLIDE7(15-09)/ProjectVS/ProjectVS.vcxproj.filters
SLIDE7(15-09)/ProjectVS/ProjectVS.vcxproj.user
